img{
    width:300px;
     
}
.panda-color{
    background-color: #FEECEB;
    border-radius:20px;
}
.text{
    color:#CD5C5C;
}
.bye{
    background-color: #ff54a4;
}
.cad{
    width: 100px;
}
.botton{
    background-color: #ff54a4;
}
.panda{
    background-color: #FF136F;
}
